body {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(77, 5, 5);
    background-color: mediumslateblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1000px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.div-text {
    color:white;
    border: black solid 1px;
    background-color: darkgoldenrod;
}